/**
 * Name: JavaFX Sky look n feel
 * Publisher: Apress
 * Author: Carl Dea
 * 
 */

.button{
    -fx-background-radius: 20;
    -fx-background-image:  url('darkgreen.png');
    -fx-text-fill: '#F9F6EE';
    -fx-background-size: 100% 100%;
    -fx-background-color: translucent;
    -fx-font-family: Optima;
}

.button:hover{
     -fx-background-image:  url('lightgreen.png');
    -fx-background-size: 100% 100%;
}
